node_modules/
dist/
.expo/
.turbo/
.nx/

.env
.env.*
!.env.example

.idea/
.vscode/

.npm-cache/
.tmp/

.venv/
venv/
__pycache__/
*.py[cod]

stt-service/.venv
stt-service/.venv/**
stt-service/__pycache__
stt-service/__pycache__/**
stt-service/models
stt-service/models/**
tts-service/.venv
tts-service/.venv/**
tts-service/__pycache__
tts-service/__pycache__/**
tts-service/models
tts-service/models/**

shared/src/**/*.d.ts
shared/src/**/*.js.map

.DS_Store
*.log
*.tsbuildinfo
